<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mayurahir-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://mayurahir-001-site1.itempurl.com:8172/MsDeploy.axd?site=mayurahir-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>mayurahir-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\mayurahir-001</UserName>
    <_SavePWD>True</_SavePWD>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ShopingEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5026.site4now.net;Initial Catalog=DB_A33AA7_MayurAhir;Persist Security Info=True;User ID=DB_A33AA7_MayurAhir_admin;Password=Xyz@4004" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication5.ShopingEntities1, WebApplication5" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5026.site4now.net;Initial Catalog=DB_A33AA7_MayurAhir;User ID=DB_A33AA7_MayurAhir_admin;Password=Xyz@4004" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication5.Models.ApplicationDbContext, WebApplication5" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5026.site4now.net;Initial Catalog=DB_A33AA7_MayurAhir;User ID=DB_A33AA7_MayurAhir_admin;Password=Xyz@4004</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ShopingEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/shop.csdl|res://*/shop.ssdl|res://*/shop.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5026.site4now.net;Initial Catalog=DB_A33AA7_MayurAhir;Persist Security Info=True;User ID=DB_A33AA7_MayurAhir_admin;Password=Xyz@4004"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>